[Unit]
Description=Simple Python HTTP Server
After=network.target

[Service]
ExecStart=/usr/bin/python3 -m http.server 8000
WorkingDirectory=/vagrant
Restart=always
User=vagrant

[Install]
WantedBy=multi-user.target